body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  text-align: center;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:nth-child(1) {
  border-bottom: 4px solid;
}

.board-row:nth-child(2) {
  border-bottom: 4px solid;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: none;
  float: left;
  font-size: 32px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  min-height: 60px;
  min-width: 60px;
}
.square:nth-child(1) {
  border-right: 4px solid;
}

.square:nth-child(2) {
  border-right: 4px solid;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  min-width: 300px;
  vertical-align: middle;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

.game-board {
  margin: 0 auto;
}

.game-info {
  margin-left: 20px;
  margin: 0 auto;
}

#undo {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}

#undo:focus {
  outline: none;
}

hr.line {
  border-top: 3px dashed;
  width: 75%;
  color: rgb(167, 167, 167);
  margin-top: -10px;
}
